@use './functions' as *;
@use './media' as *;

@mixin h1 {
   font-family: var(--inter);
   font-size: 3.5rem;
   font-style: normal;
   font-weight: 500;
   line-height: 105%; /* 3.675rem */
   letter-spacing: -0.0175rem;

   span {
      text-transform: uppercase;
   }
   @include mobile {
      font-size: 2.5rem;
      letter-spacing: -0.025rem;
   }
}

@mixin h2 {
   font-family: var(--inter);
   font-size: 2.5rem;
   font-style: normal;
   font-weight: 500;
   line-height: 105%; /* 2.625rem */
   letter-spacing: -0.025rem;

   @include mobile {
      font-size: 1.875rem;
      line-height: 115%; /* 2.15625rem */
      letter-spacing: 0.00938rem;
   }
}

@mixin h3 {
   font-family: var(--inter);
   font-size: 1.75rem;
   font-style: normal;
   font-weight: 500;
   line-height: 115%; /* 2.0125rem */
   letter-spacing: 0.00875rem;

   @include mobile {
      font-size: 1.5rem;
      letter-spacing: 0.0075rem;
   }
}

@mixin body-l {
   font-family: var(--montserrat);
   font-size: 1.125rem;
   font-style: normal;
   font-weight: 500;
   line-height: 120%; /* 1.35rem */
   letter-spacing: -0.01125rem;
}

@mixin body-l-bold {
   @include body-l;
   font-weight: 600;
}

@mixin body-m {
   font-family: var(--montserrat);
   font-size: 1rem;
   font-style: normal;
   font-weight: 600;
   line-height: 120%; /* 1.2rem */
   letter-spacing: -0.01rem;
}

@mixin body-m-bold {
   font-family: var(--montserrat);
   font-size: 1rem;
   font-style: normal;
   font-weight: 600;
   line-height: 120%; /* 1.2rem */
   letter-spacing: -0.01rem;
}

@mixin body-s {
   font-family: var(--montserrat);
   font-size: 0.9375rem;
   font-style: normal;
   font-weight: 500;
   line-height: 1.1875rem; /* 126.667% */
   letter-spacing: -0.00938rem;
}

@mixin notes {
   font-family: var(--grotesk);
   font-size: 0.6875rem;
   font-style: normal;
   font-weight: 400;
   line-height: 0.75rem; /* 109.091% */
   letter-spacing: 0.04125rem;
   text-transform: uppercase;
}
