@use '../helpers' as *;

.testing-component {
   display: flex;
   flex-direction: column;
   width: 100%;
   @include wrapper(rem(1440));
   align-items: center;

   .Slider {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-radius: 0.5rem;
      overflow: hidden;

      .swiper-slide {
         display: flex;
         flex-direction: column;
         height: auto;
         padding: rem(40);
         border-radius: 0.5rem;
         background-color: teal;
         p {
            color: white;
         }
      }
   }
}
