---
import EcoIcon from '../../assets/icons/eco.svg'
import Image from '../../assets/images/empty.png'
import SwiperSlide from './SwiperSlide.astro'

const data = [
   'testing data',
   'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur laborum asperiores minus maxime sint rerum alias iure harum nisi quod. Optio error non perferendis exercit ationem velit qui officiis dicta. Cupiditate?',
   'asdadsads',
   'andrii',
]
---

<div class="testing-component">
   <img src={Image.src} alt="" />
   <EcoIcon />

   <div class="swiper Slider">
      <div class="swiper-wrapper">
         {data.map(slide => <SwiperSlide text={slide} />)}
      </div>
   </div>
</div>

<style>
   .slider {
      width: 100%;
   }
</style>
