---
import '../../scss/main.scss'
import LibsStyles from '../utils/LibsStyles.astro'
import LibsScript from '../utils/LibsScript.astro'
import Header from '../templates/Header.astro'
import Footer from '../templates/Footer.astro'
---

<!doctype html>
<html lang='en'>
   <head>
      <LibsStyles />
   </head>
   <body>
      <Header />
      <main>
         <slot />
      </main>
      <Footer />
      <LibsScript />
   </body>
</html>
