@use 'helpers' as *;

:root {
   // base variables
   --transition-duration: 0.4s;
   --base-color: var(--black);
   --base-font-family: var(--font-geist);
   --base-font-size: rem(16);

   // layers
   --layer-top-header: 1000;
   --layer-top: 950;

   // fonts
   --font-geist-mono: 'Geist Mono', monospace;
   --font-geist: 'Geist', sans-serif;
   --font-jeko: 'JekoBold', sans-serif;

   // colors

   --white: white;
   --white-64: rgb(255 255 255 / 64%);
   --white-50: rgb(255 255 255 / 50%);
   --white-32: rgb(255 255 255 / 32%);
   --white-12: rgb(255 255 255 / 12%);
   --black: #170000;
   --black-50: rgb(23 0 0 / 50%);
   --black-32: rgb(23 0 0 / 32%);
   --black-12: rgb(23 0 0 / 12%);
   --red: #e3000f;
   --red-active: #ba000c;
}
