---
import '../scss/main.scss'

// utils
import LibsStyles from '@utilities/LibsStyles.astro'
import LibsScript from '@utilities/LibsScript.astro'
import Meta from '@utilities/Meta.astro'

// layouts
import Header from '@layouts/Header.astro'
import Footer from '@layouts/Footer.astro'

// props
const { title } = Astro.props
---

<!doctype html>
<html lang="en">
   <head>
      <Meta title={title} />
      <LibsStyles />
   </head>
   <body>
      <Header />
      <main>
         <slot />
      </main>
      <Footer />
      <LibsScript />
   </body>
</html>
