@use '../helpers' as *;

.header{
    position: sticky;
    top: 0;
    z-index: var(--layer-top-header);
    display: flex;
    width: 100%;
}

.foo{
    display: flex;
    flex-direction: column;
}

.bar{
    display: flex;
    flex-direction: column;
}

